@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap");

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  border-radius: 5px;
}

body {
    background: #7de072;
}

th {
    font-size: 25px;
    font-weight: bold;
}

button {
    font-weight: bold;
    background: #ccc;
    width: 100%;
}

.delete {
    width: 26px;
    height: 26px;
    align-self: center;
    background: #aaa;
    margin: 5px;
}

.clear {
    margin: 7px;
    width: auto;
}

.outline {
    border: 7px solid black;
    margin: -12px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  width: 100px;
  border: none;
}

th,
td {
  text-align: center;
  padding: 2px;
  border: none;
}
